<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 56px; /* Adjust according to your navbar height */
      margin-bottom: 60px; /* Adjust according to your footer height */
    }

    .navbar {
      background-color: black; 
    }


    .footer {
      background-color: black; /* Change the color as needed */
      padding: 8px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .nav-link{
        font-weight: bolder;
    }
    .navbar-brand{
        font-weight: bolder;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="">WELCOME TO EMPLOYEE PORTAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">HOME</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLink="/add-employee" routerLinkActive="active">ADD EMPLOYEE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">EMPLOYEE LIST</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="">ABOUT</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="employee-highlight">
    <img src="./assets/images/istockphoto-864811534-612x612.jpg" alt="Employee Image"  style=" width: 100%; height: 80vh; ">
  </div>

  <footer class="footer text-center">
    <p style="color: white; font-size: small; padding-top: 15px;">&copy; 2023 Your Company. All rights reserved.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
